HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

*.log

### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
Project Job Scraper/.mvn/wrapper/maven-wrapper.jar
Spring-Security/.mvn/wrapper/MavenWrapperDownloader.java
Spring-Security/.mvn/wrapper/maven-wrapper.properties
Spring-Security/.mvn/wrapper/maven-wrapper.jar
Spring-Cloud-Services/commons-logging/.mvn/wrapper/maven-wrapper.properties
Spring-Cloud-Services/commons-logging/.mvn/wrapper/MavenWrapperDownloader.java
Spring-Cloud-Services/commons-logging/.mvn/wrapper/maven-wrapper.properties
