<div class="card">
    <h4 class="card-header">{{ isLoginMode ? 'Log In' : 'SignUp' }}</h4>
    <div class="card-body">
        <form #authForm="ngForm" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="userName">Username</label>
                <input 
                type="text" 
                id="userName" 
                class="form-control" 
                ngModel required
                name="userName"
                #userName="ngModel"
                >
                <span 
                class="help-block" 
                *ngIf="!userName.valid && userName.touched"
                [ngStyle]="{color:'red'}"
                >Please enter a User Name</span>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input 
                type="password" 
                id="pwd" 
                class="form-control" 
                ngModel 
                required 
                name="pwd"
                pattern="^(?=.*[a-z])+(?=.*[0-9])\w{6,12}$"
                #pwd="ngModel"
                >
                <span 
                class="help-block" 
                *ngIf="!pwd.valid && pwd.touched" 
                [ngStyle]="{color:'red'}"
                >Please enter a valid password within 6-12 chars with atleast 1 digit </span>
            </div>
            <button 
            class="btn btn-primary" 
            type="submit" 
            [disabled]="!authForm.valid"
            >{{ isLoginMode ? 'LogIn' : 'SignUp' }}</button>
            |
            <button 
            class="btn btn-primary" 
            (click)="onSwitchMode()"
            >{{ isLoginMode ? 'SignUp' : 'LogIn' }}</button>
            -OR-
            <button class="btn btn-primary" type="submit">Continue with Github</button>
        </form>
    </div>
</div>