<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span
    class="input-group-text"
    id="basic-addon1"
    [cdkCopyToClipboard]="profileUrl"
    style="cursor: pointer;"
    >
      copy {{loggedInUser.getUserName}}'s profile URL
    </span>
  </div>
  <input
  type="text"
  class="form-control"
  placeholder="Username"
  aria-label="Username"
  aria-describedby="basic-addon1"
  value="{{profileUrl}}"
  readonly
  style="background: transparent;"
  >
</div>

<div class="row" *ngIf="isEmpty">
  <p>You don't have any posts, yet</p>
</div>
<div *ngIf="!isEmpty">
  <div class="card border-dark bg-light mb-3" *ngFor="let each of postArr; let i=index">
    <div class="card-header">
      Comment Posted : {{each.postTime}}
    </div>
    <div class="card-body">
      <p class="card-text">{{each.post}}.</p>
      <a href="#" class="card-link">Share</a>
    </div>
  </div>
</div>
