<!-- Button trigger modal -->
<button type="button" class="list-group-item list-group-item-warning" data-toggle="modal" data-target="#exampleModal">
  Profile Url
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        {{ wallUrl }}
      </div>
      <div class="modal-footer">
        <!-- <button type="button" (click)="copy" class="btn btn-secondary" data-dismiss="modal">copy</button> -->
        <button [cdkCopyToClipboard]="wallUrl" type="button" class="btn btn-secondary" data-dismiss="modal">copy</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="isEmpty">
  <p>You don't have any posts, yet</p>
</div>
<div *ngIf="!isEmpty">
  <div class="card border-dark bg-light mb-3" *ngFor="let each of postArr; let i=index">
    <div class="card-header">
      Comment Posted : {{each.postTime}}
    </div>
    <div class="card-body">
      <p class="card-text">{{each.post}}.</p>
      <a href="#" class="card-link">Share</a>
    </div>
  </div>
</div>
