<div class="container">
  <div style="cursor: pointer;" *ngIf="isLoggedIn">
    <a href="#" class="alert-link" routerLink="/profile">Return to Profile</a>
  </div>
  <div class="text-center">
    <h4>Post a messege for <span [ngStyle]="{'font-size':'20px'}" class="font-italic">{{ postee }}</span></h4>
    <textarea name="comment" cols="80" rows="4" [(ngModel)]="comment"></textarea>
    <br>
    <button class="btn btn-primary">Post Comment</button>
  </div>
  <br>
  <div>
    <div class="text-center" *ngIf="!isLoggedIn">
      <button class="btn btn-info" routerLink="/login">LogIn</button>
      -OR-
      <button class="btn btn-info" routerLink="/login">SignUp</button>
    </div>
  </div>
